<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
        <main>
                <div class="container jumbotron">
                     <h1>Laukiama</h1>
                    <p><a class="btn btn-primary btn-lg" href="/orders/create" role="button">Naujas uzsakymas</a></p>
                </div>
                    <% var num = 0 %>
                    <% orders_list.forEach(function(order){ %>
                        <% if(order.isDone == false) { %>
                            <%num++ %>
                            <div hidden>
                                <h1 class="timer"><%=order.endIn %></h1>
                            </div>
                            <div class="order">
                                        <div class="container" style="display: flex;">
                                                <h1 class="number"><%=num %></h1>
                            
                                                <div class="row justify-content-start">
                                                    <ul>
                                                        <% for(var i=0; i < order.items[0].name.length ; i++) { %>
                                                            <li style="display: flex;"><h3><a href='<%= order.url %>'><%= order.items[0].name[i] %></a> (<%= order.items[0].sauce[i] %>) <strong>X<%= order.items[0].quantity[i] %></strong></h3></li>                        
                                                        <% } %>
                                                    </ul> 
                                                </div>
                                                

                                        <div class="container">
                                            <div class="row justify-content-end">
                                            <form id="mygtukas" action="<%= order.url %>/done" method="POST">
                                                <button class="btn btn-success btn-lg" type="submit"><i class="fas fa-check"></i> Padaryta</button>
                                            </form>
                                            <form id="mygtukas" action="<%= order.url %>/delete" method="POST">
                                                    <button class="btn btn-danger btn-lg" type="submit"><i class="fas fa-times"></i> Pasalinti</button>
                                            </form>
                                            <form id="mygtukas" action="<%= order.url %>/edit" method="GET">
                                                    <button class="btn btn-warning btn-lg" type="submit"><i class="fas fa-edit"></i> Pataisyti</button>
                                            </form>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="container phone">
                                            <h1 class="row justify-content-end"><%= order.phone %></h1>
                                            <h2 class="row justify-content-end"><strong><%= order.address %></strong></h2>
                                            <h2 class="timerShow">Uzsakymas turetu buti padarytas - 
                                                <% if(order.createdAt == order.updatedAt) { %>
                                                    <%=order.mins %>
                                                    <% } else { %> 
                                                        <%=order.minsUpd %>
                                                    <% } %>
                                            </h2>
                                        </div>
                            </div>
                        <% } %>
                    <% }) %>
                <div class="container jumbotron">
                    <h1>Pagaminta</h1>
                </div>
                    <% var numb = 0 %>
                    <% orders_list.forEach(function(order){ %>
                        <% if(order.isDone == true) { %>
                            <%numb++%>
                            <div class="container order done">
                                <div class="row">
                                        <div class="col-md-8" style="display: flex;">
                                                <h1 class="number"><%=numb %></h1>
                                                <ul>
                                                    <% for(var i=0; i < order.items[0].name.length; i++) { %>
                                                        <li style="display: flex;"><h3><a href='<%= order.url %>'><%= order.items[0].name[i] %></a> (<%= order.items[0].sauce[i] %>) <strong>X<%= order.items[0].quantity[i] %></strong></h3></li>  
                                                    <% } %>
                                                </ul>
                                            </div>
                                        <div class="mygtukai">
                                            <form id="mygtukas" action="<%= order.url %>/revert" method="POST">
                                                <button class="btn btn-primary btn-lg" type="submit"><i class="fas fa-arrow-up"></i> Sugrazinti</button>
                                            </form>
                                            <form id="mygtukas" action="<%= order.url %>/delete" method="POST">
                                                    <button class="btn btn-danger btn-lg" type="submit"><i class="fas fa-times"></i> Pasalinti</button>
                                            </form>
                                        </div>
                                        <div class="container phone">
                                            <h1 class="row justify-content-end"><%= order.phone %></h1>
                                            <h2 class="row justify-content-end"><strong><%= order.address %></strong></h2>
                                        </div>
                                </div>
                            </div>
                        <% } %>
                    <% }) %>
        </main>
<script type="text/javascript" src="/javascripts/script.js"></script>
</body>
</html>